html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.canvas {
  height: 100%;
}

.container {
  height: 100vh;
  position: relative;
  top: 150px;
  bottom:0px;
}

.options-box {
  background:#f6f6f6;
  height: 100vh;
  line-height: 35px;
  padding: 10px 0 0 0;
  text-align: left;
  width: 300px;
  /* position: fixed; */
}

#map {
  top:0px;
  bottom:0px;
  height: 100vh;
  left: 300px;
  padding: 10px 0 0 0;
  /* width: 70%; */
  position: absolute;
  right: 0px;
}

input {
  font-size: 12px;
}

.head {
  padding:0 0 0 15px;
  background-color:	#180f0f;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 150px;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color:#e7c85e;
  font-size: 60px;
  margin: 55px 0 10px 0;
  padding-left: 25px;
  /* text-align: center; */
}

h2 {
  font-family: 'Poiret One', cursive;
  color: #180f0f;
  font-size: 23px;
  margin: 10px 0 5px 0;
  text-align: center;
}

h3 {
  font-family: 'Poiret One', cursive;
  color: #180f0f;
  font-size: 20px;
  margin: 10px 0 5px 0;
  /* text-align: center; */
}

hr.shadow {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(24, 15, 15, 0.5);
  margin:0;
}

hr.gradient {
  border: 0;
  margin-bottom: 20px;
  height: 1px;
  background-image: linear-gradient(to right, rgb(24, 15, 15), rgba(24, 15, 15, 0.75), rgba(24, 15, 15, 0));
}

#show-hide-listings {
  margin:15px 15px 40px 15px;
}

#show-listings {
  width: 48%;
  margin-right: 5px;
}

#hide-listings {
  width: 48%;
  margin-left: 5px;
}

#photo {
  width: 150px;
}

#shop-name {
  font-family: 'Poiret One', cursive;
  font-size: 15px;
  font-weight: bold;
}

#search-form {
  margin: 25px 5px 0 10px;
}

.search-div {
  margin: 10px 10px 10px 0;
}

.text {
  font-size: 16px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.radio-text {
  font-family: 'Poiret One', cursive;
  font-size: 13px;
  font-weight: bold;
}

ul {
  padding:0 0 0 5px;
  margin:0;
}

#search-within-time-text {
  width: 84%;
}

#footer {
  background-color: #4d4646;
  color: #e7c85e;
  font-family: 'Poiret One', cursive;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: #e7c85e;
  font-weight: bold;
}
