html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.canvas {
  height: 100%;
}

.container {
  height: 100vh;
  position: relative;
  top: 105px;
}

input {
  font-size: 12px;
}

.head {
  padding:15px;
  background-color:	#180f0f;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color:#e7c85e;
  font-size: 50px;
  margin: 10px 0 10px 0;
  padding-left: 25px;
  /* text-align: center; */
}

h2 {
  font-family: 'Poiret One', cursive;
  color: #180f0f;
  font-size: 22px;
  margin: 10px 0 5px 0;
  text-align: center;
}

#hide-listings,
#show-listings {
  width: 48%;
}

#map {
  top:0px;
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}

.options-box {
  background:#f6f6f6;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
  position: fixed;
}

#photo {
  width: 150px;
  height: 150px;
}

#shop-name {
  font-family: 'Poiret One', cursive;
  font-size: 15px;
  font-weight: bold;
}

.text {
  font-size: 12px;
}
